.App {
  text-align: center;
}

/* Path: src/App.css */
.container {
  margin-top: 3rem;
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: aquamarine;
  padding: 10px;
  border: 0.5rem solid;
}
.post-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem;
}

.list-item {
  list-style-type: none;
}

.bolded {
  font-weight: bold;
}
.container1 {
  margin-top: 3rem;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: lightblue;
  padding: 10px;
  border: 0.5rem solid;
}

.newpost-btn {
  margin-top: 1.5rem;
  background-color: blue;
  color: white;
}
.post-form {
  margin-top: 1.5rem;
}
